body {
  font-family: "Sniglet", sans-serif;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 200%;
}
h2 {
  font-size: 150%;
}

p {
  color: grey;
}

#title {
  padding-bottom: 50px;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background-color: #ffb258;
  padding: 0.8% 10%;
  margin-bottom: 80px;
}

.samosa-image {
  width: 20%;
  margin: 50px;
}

#features {
  background-color: #fcce8a;
  padding: 5% 10%;

}
.features-image {
  margin: 5%;
}
.map:hover {
  color: #ea907a;
}
.leaf:hover {
  color: #aacdbe;
}
.man:hover {
  color: gray;
}

#download {
  padding: 30px;
  background-color: #ffb258;
}

.download-button {
  margin: 20px;
}

.soc-icon {
  color: #fcce8a;
  margin: 20px;
}
.soc-icon:hover {
  color: black;
}
